[Unit]
Description=Install the current NVIDIA drivers in flatpak to avoid desync
Wants=network-online.target
Before=display-manager.service
After=bazzite-flatpak-manager.service

StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/libexec/goldblack-nvidia-flatpak-sync
TimeoutStartSec=90
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target